h1  {
  text-align: center;
}

.pet  {
  float: left;
  width: 300px;
  border: 10px solid black;
  padding: 50px;
  margin: 30px;
}

.pet img {
  margin: auto;
  width: 50%;
  height: auto;
  display: block;
  
}